.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
  font-size: 30px;
font-family: cursive;
}

.App-title {
  font-size: 1.5em;
}

.picDes {
 height: 200px;
  border: 4px solid black;
  text-align: center;
  font-size: xx-large;
  font-family: cursive;
  margin-left: 35%;
  margin-right: 35%;
  background-color: aquamarine;
  line-height: 90px;
}
body{
  background-image: url(https://media.istockphoto.com/vectors/trace-brown-doodle-paw-prints-seamless-pattern-background-vector-id1169439839?k=20&m=1169439839&s=612x612&w=0&h=kHR8uwONekfGBQG9eepRvO9CV2z6oImbPvenUkiwJSc=);
}

img{
  width: 350px;
}
input{
  width: 80%;
  text-align: center;
  height: 30px;
  font-size: 20px;
}

.submitBtn{
  width: 200px;
}

.addH2{
  font-size: 35px;
  font-family: monospace;
  color: rgb(4, 109, 4);
}